---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__item-teaser img {
  width: 100%;   
  height: 200px; 
  object-fit: cover; 
  border-radius: 10px; 
}

.gallery img {
  width: 250px !important;
  height: 200px !important;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin: auto;
}

.site-logo img {
  width: 120px;  
  height: auto;  
  border-radius: 10px;  
}
/*chaneg logo to hoveravle */
.site-logo img {
  transition: transform 0.3s ease-in-out;
}

.site-logo img:hover {
  transform: scale(1.1);
}

.result-container {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.result-container.reverse {
  grid-template-columns: 1fr 1fr !important;
}

.result-container.reverse .result-image {
  grid-column: 2 !important; 
}

.result-container.reverse .result-text {
  grid-column: 1 !important; /* 让文字移动到左侧 */
}

/* 更改字体 */
.datavis-page {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px; 
  color: #333; 
  line-height: 1.7;
}

.datavis-page h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
  color: #222;
}

.datavis-page h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: bold;
  color: #222;
}

.datavis-page p {
  font-size: 17px;
  color: #2b2b2b;
  line-height: 1.8;
}

