---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__item-teaser img {
  width: 100%;   /* 让所有图片宽度填充整个容器 */
  height: 200px; /* 设置固定高度，避免大小不一 */
  object-fit: cover; /* 保证图片不会拉伸，自动裁剪 */
  border-radius: 10px; /* 可选，给图片加一点圆角 */
}

.gallery img {
  width: 250px !important;
  height: 200px !important;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin: auto;
}

.site-logo img {
  width: 120px;  /* 调整 Logo 宽度 */
  height: auto;  /* 保持高度按比例缩放 */
  border-radius: 10px;  /* 如果想要圆角 */
}

.site-logo img {
  transition: transform 0.3s ease-in-out;
}

.site-logo img:hover {
  transform: scale(1.1);
}
